.editorAreaSearchandizingActionsDiv img {
 margin-right: 4px !important;
}
div.editorAreaSearchandizingActionsDiv > div {
	position: absolute;
	float: right;
	right: 0px;
	top: 10px;
}
div.labelContainerAction {
	top: 15px;
	border-top: 0 none;
}
.editorAreaSearchandizingActionsDiv.editorAreaSearchandizingActionImg {
    padding-right: 5;
}
.editorAreaSearchandizingActionImg {
	margin-top: 10px;
	display: block; 
	cursor: pointer;
	float:left;
	padding-right:5px;
}
img.section-label-image { 
	width: 84px;
}
div.section-label-image {
	height: 86px;
	width: 86px;
	margin-right: 7px;
	margin-left: 4px;
	padding: 2px;
	background-color: #fff;
	overflow: hidden;
	border: 1px solid #bababa;
	float:left;
	position:relative;
	left:-3px;
}
div.descriptionContainer{
    width:98%;
    overflow: hidden;
}
div.statusActionContainer{
    float: left;
    position: absolute;
    width: 97%;
    border-bottom:1px solid #ddd;
    padding-bottom: 3px;
    top:-15px;
}
div.editorAreaStatusDiv{
    left: 107px;
    position: absolute;
    top: 15px;	
}
