<div>
	<table width="100%" cellspacing="0" style="margin:0;padding:0;table-layout:auto;border:1px solid #1E4EBF;">
		<tbody>
            <tr>
                <td height="125px" width="25%" rowspan="2" class="structureViewSection">
                    <cockpit code="SiteLogo"/>
                </td>
                <td height="50px" width="75%" class="structureViewSection">
                    <cockpit code="HeaderLinks"/>
                </td>
            </tr>
            <tr>
                <td height="75px" class="structureViewSection">
                    <cockpit code="HeaderFunctionGroup"/>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="structureViewSection">
                    <cockpit code="NavigationBar"/>
                </td>
            </tr>
            <tr>
                <td colspan="2" height="58px" style="vertical-align:middle;" class="structureViewSection">
                    <div>Breadcrumb</div>
                </td>
            </tr>
            <tr>
                <td height="149px" style="vertical-align:middle;" class="structureViewSection">
                    <div>Hero Product List</div>
                </td>
            </tr>
            <tr>
                <td width="15%" rowspan="4" style="vertical-align:middle;" class="structureViewSection">
                    <div>LeftNav</div>
                </td>
                <td width="75%" height="135px" class="structureViewSection">
                    <cockpit code="Section1"/>
                </td>
            </tr>
            <tr>
                <td height="89px" style="vertical-align:middle;" class="structureViewSection">
                    <div>Pagination</div>
                </td>
            </tr>
            <tr>
                <td height="249px" style="vertical-align:middle;" class="structureViewSection">
                    <div>Product List</div>
                </td>
            </tr>
            <tr>
                <td height="89px" style="vertical-align:middle;" class="structureViewSection">
                    <div>Pagination</div>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="structureViewSection">
                    <cockpit code="Section2"/>
                </td>
            </tr>
            <tr>
                <td height="270px" colspan="2" class="structureViewSection">
                    <cockpit code="Footer"/>
                </td>
            </tr>

		</tbody>
	</table>
	<div style="width:100%; border-top: 2px solid #bbb" class="cmsContentEditor">
		<cockpit code="editor" />
	</div>
</div>