## messageSource=classpath:/sptelstore/messages/email-deliverySent_$lang.properties
#macro( genHtmlBoldFont $text )
<b style="color:#414a4f;">$text</b>
#end
#macro(genHtmlLinkStartTag $url)
<a href="$url" style="color:#666666;">
#end
#macro(genHtmlLinkEndTag)
</a>
#end
#macro(genHtmlLink $url $textColor $bodyContent)
<a href="$url" style="color:$textColor;">$bodyContent</a>
#end

<html>
<head>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    #if ( $ctx.isGuest() )
        #set ($orderInfoUrl = "${ctx.baseUrl}/guest/order/${ctx.orderGuid}")
    #else
        #set ($orderInfoUrl = "${ctx.baseUrl}/my-account/order/${ctx.orderCode}")
    #end
<table width="800" border="0" cellpadding="0" cellspacing="0" align="center">
    <!-- header BEGIN -->
    <tr bgcolor="">
        <!--Left Margin-->
        <td width="70" height="76" bgcolor="#36464e">&nbsp; </td>
        <!--Start Body-->
        <td width="660" height="76"  bgcolor="#36464e">
            ${ctx.cmsSlotContents.SiteLogo}
            <img src="${ctx.baseThemeUrl}/_ui/desktop/common/images/email/logo.png" alt=""/>
        </td>
        <!--Right Margin-->
        <td width="70" height="76" bgcolor="#36464e">&nbsp; </td>
            <p style="color:#ffffff;font-family: arial, helvetica, sans-serif;font-size:0.8em;line-height:1.2em;">
                #if (! $ctx.isGuest())
                    <a href="${ctx.secureBaseUrl}/my-account" style="color:#ffffff;">${ctx.messages.myAccount}</a> <br />
                #end <a href="${ctx.baseUrl}/store-finder" style="color:#ffffff;">${ctx.messages.storeFinder}</a>
                &nbsp;&nbsp;
            </p>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <a href="${ctx.baseUrl}" style="display:block; margin-top:10px;margin-bottom:10px;">${ctx.cmsSlotContents.TopContent}</a>
        </td>
    </tr>
    <!-- header END -->
    <tr>
        <td width="70" bgcolor="#eceff1">
        <td align="left" valign="top" bgcolor="#eceff1">

            <!-- h msg begin -->
            <h1 style="display: block;font-family: arial, helvetica, sans-serif;color: #FF186F;font-size: 1.5em;font-weight: 100;margin-bottom: 30px;margin-top:30px;">${ctx.messages.getMessage('salutation', ${ctx.title},${ctx.displayName})},</h1>
            <p style="font-family: arial, helvetica, sans-serif;color: #455a64;font-size:1.1em;line-height:1.2em;">${ctx.messages.thankYouForOrder}</p>
            <p style="font-family: arial, helvetica, sans-serif;color: #455a64;font-size:1.1em;line-height:1.2em;">${ctx.messages.getMessage('shippedItems', "#genHtmlLinkStartTag($orderInfoUrl)", "#genHtmlBoldFont(${ctx.orderCode})", "#genHtmlLinkEndTag()")}</p>
            <!-- h msg end -->

            <!-- products BEGIN -->
            <table width="100%" border="1" align="center" cellpadding="0" cellspacing="0" bordercolor="#455a64" class="products" bgcolor="#EDEEF2">
                <tr>
                    <td>
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="50%">&nbsp;</td>
                                <td width="17%" height="40px" style="text-align:center;"><p style="color:#666;font-family: arial, helvetica, sans-serif;"><b>${ctx.messages.quantity}</b></p></td>
                                <td width="17%" height="40px" style="text-align:center;"><p style="color:#666;font-family: arial, helvetica, sans-serif;"><b>${ctx.messages.itemPrice}</b></p></td>
                                <td width="16%" height="40px" style="text-align:center;"><p style="color:#666;font-family: arial, helvetica, sans-serif;"><b>${ctx.messages.total}</b></p></td>
                            </tr>
                            #foreach( $entry in ${ctx.consignment.entries} )
                                <tr>
                                    <td>
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td valign="top" style="text-align:center;">
                                                    <a href="${ctx.baseUrl}$entry.orderEntry.product.url">
                                                        #foreach($image in $entry.orderEntry.product.images) #if($image.imageType == "PRIMARY" && $image.format == "thumbnail" )
                                                            <img src="${ctx.mediaBaseUrl}$image.url" alt="" title="$entry.orderEntry.product.name" />
                                                        #end #end
                                                    </a>
                                                    &nbsp;
                                                </td>
                                                <td valign="top">
                                                    <p style="color:#666;font-family: arial, helvetica, sans-serif;">
                                                        <a href="${ctx.baseUrl}$entry.orderEntry.product.url"><b>$entry.orderEntry.product.name</b></a>
                                                    </p>
                                                    #if (!$entry.orderEntry.product.baseOptions.isEmpty())
                                                        #foreach ($option in $entry.orderEntry.product.baseOptions)
                                                            #if ($option.selected && ($option.selected.url == $entry.orderEntry.product.url))
                                                                <table width="100%" cellpadding="0" cellspacing="0">
                                                                    #foreach ($selectedOption in $option.selected.variantOptionQualifiers)
                                                                        <tr>
                                                                            <td width="30%"><p style="color:#666;font-family: arial, helvetica, sans-serif;">$selectedOption.name:</p></td>
                                                                            <td width="70%"><p style="color:#666;font-family: arial, helvetica, sans-serif;">$selectedOption.value</p></td>
                                                                        </tr>
                                                                    #end
                                                                </table>
                                                            #end
                                                        #end
                                                    #end
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td valign="top"><p style="color:#666;font-family: arial, helvetica, sans-serif;">$entry.orderEntry.quantity</font></p></td>
                                    <td valign="top"><p style="color:#666;font-family: arial, helvetica, sans-serif;">$entry.orderEntry.basePrice.formattedValue</font></p></td>
                                    <td valign="top"><p style="color:#414a4f;font-family: arial, helvetica, sans-serif;"><b>#if($entry.orderEntry.totalPrice.value > 0) $entry.orderEntry.totalPrice.formattedValue #else ${ctx.messages.free} #end</b></p></td>
                                </tr>
                            #end
                        </table>
                    </td>
                </tr>
            </table>
            <!-- products END -->

            <!-- bb msg begin -->
            #set ($mailToUrl = "mailto:${ctx.messages.contactUsEmailAddress}")
            #if(${ctx.baseSite.Uid} == "electronics")
                #set ( $paragraphContactUs = ${ctx.messages.getMessage('paragraphContactUs_electronics', "#genHtmlLinkStartTag(${ctx.messages.contactUsPage})", "#genHtmlLinkEndTag()", "#genHtmlLink($mailToUrl '#666666' ${ctx.messages.contactUsEmailAddress})")} )
            #else
                #set ($faqPage = "${ctx.baseUrl}/faq")
                #set ( $paragraphContactUs = ${ctx.messages.getMessage('paragraphContactUs', "#genHtmlLinkStartTag($faqPage)", "#genHtmlLinkEndTag()", "#genHtmlLinkStartTag(${ctx.messages.contactUsPage})", "#genHtmlLinkEndTag()", "#genHtmlLink($mailToUrl '#666666' ${ctx.messages.contactUsEmailAddress})")} )
            #end
            #if (${ctx.consignment.trackingID})
                <p style="font-family: arial, helvetica, sans-serif;color: #455a64;font-size:1.1em;line-height:1.2em;">${ctx.messages.getMessage('track', ${ctx.consignment.trackingID})}</p>
            #end
            <p style="font-family: arial, helvetica, sans-serif;color: #455a64;font-size:1.1em;line-height:1.2em;">${ctx.messages.paragraphDeliveryInfo}</p>
            <p style="font-family: arial, helvetica, sans-serif;color: #455a64;font-size:1.1em;line-height:1.2em;">$paragraphContactUs</p>
            <p style="font-family: arial, helvetica, sans-serif;color: #455a64;font-size:1.1em;line-height:1.2em;">${ctx.messages.complimentaryClosing}</p>
            <p style="font-family: arial, helvetica, sans-serif;color: #455a64;font-size:1.1em;line-height:1.2em;">${ctx.messages.signature}</p>
            <!-- bb msg end -->
            <p style="display:block;margin-bottom:30px;">&nbsp;</p>
        </td>
        <td width="70" bgcolor="#eceff1">
    </tr>
    <!-- footer BEGIN -->
    <tr>
        <!--Left Margin-->
        <td width="70" height="100" bgcolor="#263238">&nbsp; </td>
        <!--Start Body-->
        <td width="660" height="100"  bgcolor="#263238" style="vertical-align: top;color:#ffffff;">
            ${ctx.cmsSlotContents.BottomContent}
            <table style="text-align: center;font-family: arial, helvetica, sans-serif;width: 100%;">
                <tr>
                    <td>
                        <p style="display: inline-block;text-transform: uppercase;font-weight: 100;color:#ffffff;">
                            Powered by Triast &copy; 2016   |
                        </p>
                        <a href="#" style="display: inline-block;margin: 0 15px;font-weight: bold;text-transform: uppercase;color:#ffffff;text-decoration: none">Terms</a>
                        <a href="#" style="display: inline-block;margin: 0 15px;font-weight: bold;text-transform: uppercase;color:#ffffff;text-decoration: none">privacy policy</a>
                        <a href="#" style="display: inline-block;margin: 0 15px;font-weight: bold;text-transform: uppercase;color:#ffffff;text-decoration: none">help</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-size: 0.8em;margin-top: 5px;color:#ffffff;">If you don't want to receive updates. please <a href="#" style="text-decoration: none;color:#53b8de">unsubscribe</a></p>
                    </td>
                </tr>
            </table>
        </td>
        <!--Right Margin-->
        <td width="70" height="100" bgcolor="#263238">&nbsp; </td>
    </tr>
    <!-- footer END -->
</table>
</body>
</html>
