## messageSource=classpath:/sptelstore/messages/email-downloadApp_$lang.properties
#macro(genHtmlLinkStartTag $url)
<a href="$url"><font color="#666666">
#end
#macro(genHtmlLinkEndTag)
</font></a>
#end
#macro(genHtmlLink $url $textColor $bodyContent)
<a href="$url"><font color="$textColor">$bodyContent</font></a>
#end

<html>
	<head>
	</head>
    <body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
        <table width="800" border="0" cellpadding="0" cellspacing="0" align="center">
            <tr bgcolor="">
                <!--Left Margin-->
                <td width="70" height="76" bgcolor="#36464e">&nbsp; </td>
                <!--Start Body-->
                <td width="660" height="76"  bgcolor="#36464e">
                	${ctx.cmsSlotContents.SiteLogo}
                    <img src="${ctx.baseThemeUrl}/_ui/desktop/common/images/email/logo.png" alt=""/>
                </td>
                <!--Right Margin-->
                <td width="70" height="76" bgcolor="#36464e">&nbsp; </td>
            </tr>

            <tr>
                <td width="800" height="247" bgcolor="#eceff1" colspan="3">
                    <a href="${ctx.baseUrl}/mobile/entitlements/grant?authToken=${ctx.appToken}">
                        <img src="${ctx.baseThemeUrl}/_ui/desktop/common/images/email/bannerTCO.jpg" alt="Download the app and start watching" />
                    </a>
                </td>
            </tr>
            <tr>
                <td width="70" bgcolor="#eceff1">&nbsp; </td>
                <!--Start Body-->
                <td width="660" bgcolor="#eceff1">
                	${ctx.cmsSlotContents.TopContent}
                    <h1 style="display: block;text-align: center;font-family: arial, helvetica, sans-serif;color: #FF186F;font-size: 1.5em;font-weight: 100;margin-bottom: 5px;margin-top:40px;">Dear ${ctx.displayName},</h1>
                    <p style="display: block;text-align: center;font-family: arial, helvetica, sans-serif;margin-top: 5px;margin-bottom:5px;color: #455a64">
                        As part of your subscription, you are entitled to access your cable content anywhere via our app.
                        Click on <a href="${ctx.baseUrl}/mobile/entitlements/grant?authToken=${ctx.appToken}">download</a>, log-in into your account, and start watching!
                    </p>
                    <p style="display: block;text-align: right;font-style: italic;font-family: arial, helvetica, sans-serif;margin-top: 5px;margin-bottom:40px;color: #455a64">TriCast team</p>
                </td>
                <!--Right Margin-->
                <td width="70" bgcolor="#eceff1">&nbsp; </td>
            </tr>
#*
            <tr>
                <td width="70" bgcolor="#eceff1">&nbsp; </td>
                <!--Start Body-->
                <td width="660" height=""  bgcolor="#eceff1">
                    <table>
                        <tr>
                            <td colspan="3"><span style="margin-top: 40px">&nbsp;</span></td>
                        </tr>
                        <tr>
                            <td width="187" style="text-align: center">
                                <img src="${ctx.baseThemeUrl}/_ui/desktop/common/images/email/btn1.jpg" alt=""/>
                                <h3 style="display: block;text-transform: uppercase;margin-top: 20px;font-family: arial, helvetica, sans-serif;font-size: 1em;color:#455a64">Lorem ipsum dolor </h3>
                                <hr style="margin: 20px auto;width: 80px;border-style: solid;color: #b0afaf;"/>
                                <p style="text-align: center;font-family: arial, helvetica, sans-serif;color: #455a64;font-weight: 200;display: block;margin-bottom: 40px;font-size: 0.9em;line-height: 1.7em;">Phasellus congue quis ipsum quis condimentum. Interdum  malesuada fames ac ante ipsum primis in faucibus.</p>
                                <a href="#" style="display: block;"><img src="${ctx.baseThemeUrl}/_ui/desktop/common/images/email/readmore.jpg" alt=""/></a>

                            </td>
                            <td width="20"></td>
                            <td width="187" style="text-align: center">
                                <img src="${ctx.baseThemeUrl}/_ui/desktop/common/images/email/btn2.jpg" alt=""/>
                                <h3 style="display: block;text-transform: uppercase;margin-top: 20px;font-family: arial, helvetica, sans-serif;font-size: 1em;color:#455a64">Lorem ipsum dolor </h3>
                                <hr style="margin: 20px auto;width: 80px;border-style: solid;color: #b0afaf;"/>
                                <p style="text-align: center;font-family: arial, helvetica, sans-serif;color: #455a64;font-weight: 200;display: block;margin-bottom: 40px;font-size: 0.9em;line-height: 1.7em;">Phasellus congue quis ipsum quis condimentum. Interdum  malesuada fames ac ante ipsum primis in faucibus.</p>
                                <a href="#" style="display: block;"><img src="${ctx.baseThemeUrl}/_ui/desktop/common/images/email/readmore.jpg" alt=""/></a>
                            </td>
                            <td width="20"></td>
                            <td width="186" style="text-align: center">
                                <img src="${ctx.baseThemeUrl}/_ui/desktop/common/images/email/btn3.jpg" alt=""/>
                                <h3 style="display: block;text-transform: uppercase;margin-top: 20px;font-family: arial, helvetica, sans-serif;font-size: 1em;color:#455a64">Lorem ipsum dolor </h3>
                                <hr style="margin: 20px auto;width: 80px;border-style: solid;color: #b0afaf;"/>
                                <p style="text-align: center;font-family: arial, helvetica, sans-serif;color: #455a64;font-weight: 200;display: block;margin-bottom: 40px;font-size: 0.9em;line-height: 1.7em;">Phasellus congue quis ipsum quis condimentum. Interdum  malesuada fames ac ante ipsum primis in faucibus.</p>
                                <a href="#" style="display: block;"><img src="${ctx.baseThemeUrl}/_ui/desktop/common/images/email/readmore.jpg" alt=""/></a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5"><span style="margin-bottom: 100px;display: block;">&nbsp;</span></td>
                        </tr>
                    </table>
                </td>
                <!--Right Margin-->
                <td width="70" bgcolor="#eceff1">&nbsp; </td>
            </tr>
*#
            <tr>
                <!--Left Margin-->
                <td width="70" height="100" bgcolor="#263238">&nbsp; </td>
                <!--Start Body-->
                <td width="660" height="100"  bgcolor="#263238" style="vertical-align: top;color:#ffffff;">
                    ${ctx.cmsSlotContents.BottomContent}
                    <table style="text-align: center;font-family: arial, helvetica, sans-serif;width: 100%;">
                        <tr>
                            <td>
                                <p style="display: inline-block;text-transform: uppercase;font-weight: 100;color:#ffffff;">
                                    Powered by Triast &copy; 2016   |
                                </p>
                                <a href="#" style="display: inline-block;margin: 0 15px;font-weight: bold;text-transform: uppercase;color:#ffffff;text-decoration: none">Terms</a>
                                <a href="#" style="display: inline-block;margin: 0 15px;font-weight: bold;text-transform: uppercase;color:#ffffff;text-decoration: none">privacy policy</a>
                                <a href="#" style="display: inline-block;margin: 0 15px;font-weight: bold;text-transform: uppercase;color:#ffffff;text-decoration: none">help</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="font-size: 0.8em;margin-top: 5px;color:#ffffff;">If you don't want to receive updates. please <a href="#" style="text-decoration: none;color:#53b8de">unsubscribe</a></p>
                            </td>
                        </tr>
                    </table>
                </td>
                <!--Right Margin-->
                <td width="70" height="100" bgcolor="#263238">&nbsp; </td>
            </tr>
        </table>
    </body>
</html>

