.facebook-btn {
   background-color: #5772a8;
   border: 1px solid #364b76;
   box-shadow: 0 1px 1px #829ac6 inset;
   -webkit-box-shadow: inset 0 1px 1px #829ac6;
   display: inline-block;
   text-shadow: none;
   overflow: hidden;
   text-decoration: none !important;   
   float: none !important;
}

.facebook-btn:hover {
   background-color: #4b6393;
   box-shadow: 0 1px 1px #8098c3 inset;
   color: #dae3f5;
   text-decoration: none !important;
}

.facebook-btn .fb-icon {
	background-image: url(../images/facebook_icon_20.png);
	background-repeat: no-repeat;
	display: block;	
}

.facebook-btn .fb-text {
	color: #FFFFFF;
}

.facebook-btn .fb-text, .facebook-btn .fb-icon {
	display: inline-block;
	vertical-align: middle; 	
}

.facebook-user-image {
	vertical-align: top;
	display: inline-block;
	padding: 0px !important;
}

/* BUTTON SIZES */

.facebook-btn.fb-size-TINY {
	padding: 1px !important;
	height: 12px;
}

.facebook-btn.fb-size-TINY .fb-text {
	font-size: 1.0em;
	line-height: 1.3em;
}

.facebook-btn.fb-size-TINY .fb-icon {
    background-image: url(../images/facebook_icon_12.png);
    width: 6px;
    height: 12px;
}

.facebook-btn.fb-size-TINY .fb-text, .facebook-btn.fb-size-TINY .fb-icon {
	vertical-align: top; 	
}

.facebook-user-image.fb-size-TINY{ 
 	height: 16px;
   width: 16px;
}

.facebook-btn.fb-size-SMALL {
	padding: 1px !important;
}

.facebook-btn.fb-size-SMALL .fb-text {
	font-size: 1.0em;
}

.facebook-btn.fb-size-SMALL .fb-icon {
    background-image: url(../images/facebook_icon_16.png);
    width: 8px;
    height: 14px;
}

.facebook-user-image.fb-size-SMALL{ 
 	height: 21px;
   width: 21px;
}

.facebook-btn.fb-size-MEDIUM {
	padding: 2px !important;
}

.facebook-btn.fb-size-MEDIUM .fb-text {
	font-size: 1.0em;
}

.facebook-btn.fb-size-MEDIUM .fb-icon {
    background-image: url(../images/facebook_icon_20.png);
    width: 10px;
    height: 20px;
}

.facebook-user-image.fb-size-MEDIUM{ 
 	height: 26px;
   width: 26px;
}

.facebook-btn.fb-size-LARGE {
	padding: 2px !important;
}

.facebook-btn.fb-size-LARGE .fb-text {
	font-size: 1.5em;
}

.facebook-btn.fb-size-LARGE .fb-icon {
    background-image: url(../images/facebook_icon_32.png);
    height: 32px;
    width: 16px;
}

.facebook-user-image.fb-size-LARGE{ 
 	height: 38px;
   width: 38px;
}

.facebook-btn.fb-size-XL {
	padding: 2px !important;
}

.facebook-btn.fb-size-XL .fb-text {
	font-size: 2.0em;
}

.facebook-btn.fb-size-XL .fb-icon {
    background-image: url(../images/facebook_icon_64.png);
    height: 64px;
    width: 31px;
}

.facebook-user-image.fb-size-XL{ 
 	height: 70px;
   width: 70px;
}