/*
	BUTTON
*****************/
button:disabled {
	background: #d2d2d2 !important;
	color: #a6a6a6 !important;
	text-shadow: 1px 0px 0px #f0f0f0 !important;
    filter: dropshadow(color=#f0f0f0, offx=1, offy=0) !important;
}

#buySetContainer button:disabled {
	background: #d2d2d2 !important;
	color: #a6a6a6 !important;
	text-shadow: 1px 0px 0px #f0f0f0 !important;
    filter: dropshadow(color=#f0f0f0, offx=1, offy=0) !important;
    border: 1px solid #d2d2d2;
}

.responsive-productset-collection-component .responsive-image-container {
	display: inline-block;
    margin: 0 10px;
}

.gallery {
	text-align:right;
	position:relative;
}
.lookbook-left {
	margin:10px 0 0 0;
}

.lookbook-left .image-holder {
    text-align: center;
}

.lookbook-right {
	float:left;
}
.lookbook-right .result-container {
	font-size:12px;
}
.lookbook-right h1 {
	height:45px;
	line-height:45px;
	border-bottom:1px dotted #a5a5a5;
	margin:10px 10px 15px;
	padding:0;
	color:#333;
	font-size:23px;
	font-weight:normal;
	position:relative;
}
.lookbook-right h1 span {
	position:absolute;
	right:0;
}
.lookbook-right .result-container p {
	padding:3px 0;
	margin:0;
}
.lookbook-right .result-container div {
	padding:3px 0;
	margin:0;
}
.lookbook-right .result-container select {
	width:100%;
}
.lookbook-right .result-container .colour {
	color:#929493;
}
.lookbook-right .variant_options .colour ul {
	margin-left:0;
    padding: 0;
}

.lookbook-right .variant_options .colour li {
	display:block;
	float:left;
	list-style-type: none;
    list-style-position: inside;
	margin:0 7px 0 0;
}

.lookbook-right .color-select {
    border-bottom: 0px;
}

.responsive-productset-collection-component {
    margin: 10px 0;
}

.responsive-productset-collection-component .carousel-inner > .item {
    text-align: center;
}