/* SPOTLIGHT
***********************/
.spotlight_holder {
	border: 1px solid #007174;
}
.spotlight {
	/*margin-bottom: 30px;*/
}
.spotlight .title_holder h2 {
	background-color: #007174;
	font-size: 1.5em;
	font-weight: bold;
	text-shadow: 0 2px 2px #474747;
	color: #FFFFFF;
	padding: 11px 20px 11px 20px;
	text-align: center;
}
.spotlight .details .cart .add_to_basket {
	margin-top : 0px;
	padding-top : 0px;
	padding : 0;	
}
.spotlight .details .cart .collect_from_store {
	margin-top : 0px;
	padding-top : 0px;
	padding : 0;
}
.spotlight .details .cart button {
	margin-bottom: 1.25em;
	height: 30px;
}