bin
classes
eclipsebin
gensrc
.externalToolBuilders
.pmd
*.iml
build.xml
extensioninfo.xsd
platformhome.properties
ruleset.xml
velocity.log
beans.xsd
items.xsd
hmc.xsd
*-testclasses.xml
addonsrc
**/tags/addons
**/tld/addons
**/views/addons
**/messages/addons
**/_ui/addons
*-testclasses.xml
*-webtestclasses.xml
testclasses
**/resources-lang/touch_impexgen
**/yacceleratorstorefront/web/webroot/*cockpit/**
**/yacceleratorstorefront/web/commonwebsrc/**
**/node_modules
*.iml
*/.idea
.idea
rebel.xml
**/ygrunt/build/**
mediaserver/web/webroot/*.mp4
**/servicesshowcase/web/webroot/*cockpit/*
facebookmock/web/commonwebsrc/
facebookmock/web/webroot/*cockpit/**
ybilling/ybilling-canonical/target/
ybilling/ybilling-raw/target/
ybilling/ybilling-target/target/
**/Thumbs.db
ticketing/web/webroot/*cockpit/
mockcei/target/
/.project
showcasecockpits/web/commonwebsrc/
facebookmockup/web/commonwebsrc/
facebookmockup/web/webroot/*cockpit/
